.main-container {
    display: flex;
    width: 1260px;
    background: #f5f5f5;
    border-radius: 30px;
}
.logic-container {
    display: flex;
    flex-basis: 67%;
    background: white;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F7F7F7;
    border-radius: inherit;
    padding: 20px;
}
.inner-container {
    padding: 20px 0;
    display: flex;
    flex-grow: 1;
    background: #84A4FC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000040;
    border: 2px solid #FFFFFF;
    border-radius: inherit;
}
.column1 {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    flex-direction: column-reverse;
}

.row1 {
    display: flex;
    flex-grow: 1;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000040 inset;
    border: 2px solid white;
    cursor: pointer;
}
.row-player1 {
    background: #DCF6E4 url('../../assets/avatar01.png') no-repeat center center;
    background-size: 40px;
    position: relative;
}
.row-player1:before {
    border: 10px solid #37AC5D;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.row-player2 {
    background: #F6EFD5 url('../../assets/avatar02.png') no-repeat center center;
    background-size: 40px;
    position: relative;
}
.winner {
    border:8px solid #FFFF00;
}
.row-player2:before {
    border: 10px solid #F8D146;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 28px;
    align-items: center;
}
.info-container > h1 {
    line-height: 55px;
    letter-spacing: 0.5px;
    color: #424242;
    margin: 0;
}
.info-container > p {
    letter-spacing: 0px;
    color: #505351;
    font-size: 24px;
    line-height: 35px;
    margin:0 0 30px;
}
.card-container {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
}
.player-card {
    display: flex;
    width: 100%;
    border: 1px solid;
    align-items: center;
    background: #DCF6E4 0% 0% no-repeat padding-box;
    border: 1px solid #70707026;
    border-radius: 15px;
    margin-top: 20px;
}
.img-container-turn:before {
    border: 10px solid #FFA200;
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    right: -25px;
    bottom: -25px;
    border-radius: 50%;
}

.player-info {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    color: #424242;
}
.player-info > div > p:first-child {
    margin: 0;
    margin-top: 0;
    font-size: 18px;
    color: #424242;
    line-height: 27px;
    opacity: 0.6;
}
.player-info > div > p:last-child {
    margin-bottom: 0;
    font-size: 28px;
    line-height: 42px;
    font-weight: 500;
    text-align: center;
}
.btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    row-gap: 25px;
    width: 100%;
}
.btn-logic {
    font-size: 32px;
    line-height: 48px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #70707026;
    border-radius: 20px;
    padding: 20px;
}

.winner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.winner-container h2 {
    color: #FF6600;
    font-size: 42px;
    line-height: 63px;
    margin: 0;
}
.winner-container p {
    color: #505351;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 10px;
}