.home {
    width: 100%;
    max-width: 800px;
    text-align: center;
    background-color: #CED2DC;
}

.game-header {
    width: 35%;
    padding-left: 50px;
    padding-bottom: 35px;
}

.game-header h3 {
    text-align: left;
    margin-top: 0;
    color: #949494;
    font-weight: normal;
}

.play-btn {
    background: #FF7243 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 50px #FF724373;
    border-radius: 20px;
    opacity: 1;
    outline: none;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 132px;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 4.4px;
    padding: 35px 0 11px 0;
    height: 132px;
    justify-content: space-evenly;
}
.game-container--outer {
    background: #EEE;
    border-radius: 30px;
    border: 1px solid #F7F7F7;
    opacity: 1;
}
.game-container--inner {
    padding: 100px 50px 50px 50px;
    margin-bottom: 125px;
    box-shadow: 0px 3px 10px #00000029;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
    background: #fff;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.game-bg {
    flex-grow: 1;
}
.game-bg > div {
    background: transparent url('../../assets/4inarow.png') no-repeat right top;
    background-size: 100%;
    background-position: center right;
    right: -10%;
    top: -27%;
    width: 65%;
    height: calc(100*0.6vw);
    max-height: 485px;
    position: absolute;
}
.play-container {
    padding-left: 65px;
    padding-bottom: 50px;
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid #dbdbdb;
}
.game-container--options {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 80px;
}

@media only screen and (max-width: 800px) {
    .play-container {
        padding-left: 0;
    }
    .game-header {
        width: 45%;
    }
    .game-header  h1 {
        font-size: 1.5rem;
        text-align: left;
    }
    .game-header h3 {
        font-size: 1.2rem;
    }
    .game-container--inner {
        padding: 35px;
    }
    .game-bg > div{
        top: -110px;
        width: 55%;
        right: -5%;
        max-height: 350px;
        max-width: 380px;
    }
    .game-container--options {
        padding-top: 50px;
    }
  }

@media only screen and (max-width: 600px) {
    .game-header {
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .game-header  h1 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    .game-header h3 {
        font-size: 1rem;
    }
    .game-container--inner {
        padding: 20px;
    }
    .game-bg > div{ 
        top: -90px;
        width: 55%;
    }
    .game-container--options {
        padding-top: 30px;
    }
  }

